<%= form_for @story, :html => { :multipart => true } do |f| %>

<div class="paper">

<div class="row">
  <div class="col-md-12 text-center">
    <div class="editable">
      <p class="first"></p>
      <h1 id="one">Here write your title</h1>
      <h2 id="subtitle">Here write your subtitle </h2>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-2">
    <div class="editable" id="content_left">
      <p>Type here your additional contents</p>
    </div><!-- contain_left ending -->
  </div>

  <div class="col-md-8">
    <div class="editable" id="content_center">
      <p>Here is your main content</p>
    </div><!-- contain_center ending -->
  </div>

  <div class="col-md-2">
    <div class="editable" id="content_right">
      <p>Type here your additional contents</p>
    </div><!-- contain_left ending -->
  </div>


  <%= f.hidden_field :title, :placeholder => "Enter your title", class: "title_story_field" %>
  <%= f.hidden_field :subtitle, :placeholder => "Enter your title", class: "subtitle_story_field" %>
  <%= f.hidden_field :container_left, :placeholder => "Enter your text", class: "container_left_field" %>
  <%= f.hidden_field :container_center, :placeholder => "Enter your text", class: "container_center_field" %>
  <%= f.hidden_field :container_right, :placeholder => "Enter your text", class: "container_right_field" %>

</div><!-- row ending -->

</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= f.submit "Create", class: "btn btn-primary submit_story" %>
    </div>
  </div>
</div>


<% end %>



