<div class="row">
  <div class="col-md-12 text-center">
    <h1 id="one"><%= @story.title %></h1>
    <h2 id="subtitle"><%= @story.subtitle %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= raw @story.container_left %>
  </div>
  <div class="col-md-8">
    <%= raw @story.container_center %>
  </div>
  <div class="col-md-2">
    <%= raw @story.container_right %>
  </div>
</div>


<% unless @embed %>
  <% if author_signed_in? %>
  <%= link_to edit_story_path(@story) do %>
  <button class="btn btn-info invert">Editer l'annonce</button>
  <% end %>

  <%= link_to story_path(@story), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <button class="btn btn-info invert">Supprimer l'annonce</button>
  <% end %>
  <% end %>

  <%= link_to stories_path do %>
  <button class="btn btn-default invert">Retour à la liste des stories</button>
  <% end %>
<% end %>
