<div class="row">
  <div class="col-md-12 text-center">
    <h1 id="one"><%= @story.title %></h1>
    <h2 id="subtitle"><%= @story.subtitle %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= raw @story.container_left %>
  </div>
  <div class="col-md-8">
    <%= raw @story.container_center %>
  </div>
  <div class="col-md-2">
    <%= raw @story.container_right %>
  </div>
</div>

<% unless params[:iframe] %>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="iframe-link">
        <p>http://localhost:3000/stories/<%= @story.id %>?iframe=true</p>
      </div>
    </div>
  </div>


  <% if author_signed_in? %>
    <% content_for :edit do %>
      <%= link_to edit_story_path(@story) do %>
        <span>Edit story</span>
      <% end %>
    <% end %>

    <% content_for :delete do %>
      <%= link_to story_path(@story), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span>Delete story</span>
      <% end %>
    <% end %>

  <% end %>



<% end %>



<script>
$(document).ready(function(){
  $( ".mediumInsert-buttons" ).remove();
});
</script>