<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">



    <div class="navbar-left">
      <div class="navbar-brand">
      <%= link_to stories_path do %>
        <%= image_tag "unicorn.png", id: "logo"%>
        <span>Do It Long !</span>
      <% end %>

    </div>
      <ul class="nav navbar-nav">
      <% if author_signed_in? %>
      <li><strong><%= current_author.email %></strong></li>
      <li><%= link_to 'Edit profile', edit_author_registration_path %></li>
      <li><%= link_to "Logout", destroy_author_session_path, method: :delete  %></li>
      <% else %>
      <li><%= link_to "Sign up", new_author_registration_path %></li>
      <li><%= link_to "Login", new_author_session_path  %></li>
      <% end %>
      </ul>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li id="delete"><%= content_for :delete %></li>
        <li id="edit"><%= content_for :edit %></li>
        <li><%= link_to "Start a new story", new_story_path, id: "create" %></li>
        </ul>
      </ul>
    </div>


  </div>

</nav>